@import '@styles/base';

.cardVenue {
  width: 100%;
  background-color: var(--color-bg);
  .img {
    width: 100%;
    max-width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .content {
    padding: 1rem;
    .name {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .box {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-size: 0.7rem;
      .icon {
        font-size: 0.8rem;
      }
    }
    .btnContainer {
      display: flex;
      gap: 0.3rem;
      margin-top: 1rem;
    }
  }
}
