@import '@styles/base';

.navbarMerchant {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3rem;
  @include apply-at-md-size {
    @media (min-width: $screen-md-limit) {
      flex-direction: row;
    }
  }
}
