@import '@styles/base';

.merchantVenue {
  background-color: var(--color-bg);
  padding: 1rem;
  .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    @include apply-at-md-size {
      @media (min-width: $screen-md-limit) {
        flex-direction: row;
      }
    }
    .title {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
.venuesList {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem;
  @include apply-at-md-size {
    @media (min-width: $screen-md-limit) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include apply-at-lg-size {
    @media (min-width: $screen-lg-limit) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
