@import '@styles/base';

.box {
  width: 100%;
  text-align: center;
  .title {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .desc {
    font-size: 0.6rem;
    margin-bottom: 1.2rem;
  }
}
