@import '@styles/base';

.times {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 1000px;
  .time {
    font-size: 12px;
    font-weight: bold;
  }
  .btnRetry {
    font-size: 10px;
  }
}
