$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

$color-red-dark: #a51220;
$color-red-md: #c51828;
$color-red-light: #dc1c2e;
$color-gray: #272727;

$color-black: #040d12;
$color-green-dark: #183d3d;
$color-green-md: #487a66;
$color-green-light: #93b1a6;
