@import '@styles/base';

.venuesList {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(1, 1fr);
  padding-right: 1rem;
  margin: 2rem 0;
  @include apply-at-md-size {
    @media (min-width: $screen-md-limit) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include apply-at-lg-size {
    @media (min-width: $screen-lg-limit) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
